ASSIGNMENT 02.02.23

# 1.characeristics of tuples 
1.tuples are data types
2.Tuples are collections elemnets enclosed in round brackets
3.the elements in tuples are written under qoutes if they are strings and seperated by comma
4.tuples withhold other tuples
5.tuples can under go indexing and slicing operations

YES tuples are immutable

In [11]:
#2. count and index are the two tuple methods
#examples
#finding the times an element repeated in tuple using count method
t1=(1,2,3,4,5,5,6,8,5,9,5)
t1.count(2)

1

In [12]:
#index method,here the fn gives the position of input element in tuple
t1.index(5)

4

In [ ]:
# it is not true that tuple has only two in built methods in python

In [55]:
#3.set is the collection datatypes which does not allow duplication
s1=[1,1,1,2,1,3,1,4,2,1,2,2,2,3,2,4,3,1,3,2,3,3,3,4,4,1,4,2,4,3,4,4]
s2=set(s1)
s1=list(s2)
s1

[1, 2, 3, 4]

In [2]:
#Q4.union method is used to combine two sets into single NEW set 
set1={1,2,3,4,5}
set2={1,3,4,5,3,1,3,5,4,5,6,6,5,4,7}
set3=set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 7}

In [5]:
# where as update method is used to modify same set by combining with other set as shown
set1.update(set2)
set1
#here same set1 is modified

{1, 2, 3, 4, 5, 6, 7}

In [6]:
#Q5.Dictionaries are the collections of elements in flower brackets like sets, stored in pair format,like keys and values which are seperated by colon
#example
country_capital={'india':'delhi','england':'london','japan':'tokyo'}
type(country_capital)
#here india,england,japan are the called keys and their pairs are called values
#dictionaries are unordered

dict

In [7]:
#Q6.YES,nested dictionaries exist
#example
D={'class1':{'boys':10,'girls':20},'class2':{'boys':20,'girls':15}}
info=D['class2']['boys']
print(type(D)  , info)

<class 'dict'> 20

In [12]:
#Q7.
dict1={'language':'python','course':'Data science masters'}
dict1.setdefault('topics',['python','machine learning','deep learning'])
dict1

{'language': 'python',
 'course': 'Data science masters',
 'topics': ['python', 'machine learning', 'deep learning']}

In [15]:
#Q8.the 3 object views in dictionary are
#1.key view
#2.value view
#3.item view

#1.key view
dict1={'sport':'cricket','teams':['india','australia','south africa','england','srilanka','new zealand']}
key_view=dict1.keys()
print(key_view)

dict_keys(['sport', 'teams'])

In [17]:
#2.value view
value_view=dict1.values()
print(value_view)

dict_values(['cricket', ['india', 'australia', 'south africa', 'england', 'srilanka', 'new zealand']])

In [19]:
#3.item view
item_view=dict1.items()
print(item_view)

dict_items([('sport', 'cricket'), ('teams', ['india', 'australia', 'south africa', 'england', 'srilanka', 'new zealand'])])