# ASSIGNMENT | 16.02.2023 | MySql

Q1. What is a database? Differentiate between SQL and NoSQL databases.

In the field of data science, databases serve as a vital component for storing and managing large volumes of 
structured and unstructured data. They play a significant role in many data science workflows and are utilized to 
store data from various sources, including web applications, social media, and sensors.Data scientists rely on databases 
to efficiently manage and analyze data, leveraging a range of tools and technologies to achieve this. 
 
Structured Query Language (SQL) database is used  to retrieve and manipulate data from relational databases,and the data is stored in tabular like formats,,,
while NoSQL databases are ideal for managing unstructured or semi-structured dataand datas are stored in flexible formats

In [ ]:
#Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Data Definition Language (DDL) is a set of commands that allow users to define and manage the structure of a database, 
including tables, indexes, constraints, and other database objects. 

1.CREATE: The CREATE command is used to create new database objects, such as tables, views, indexes, and constraints. 
For example, to create a new table in a database, 
ex:           CREATE TABLE table_name (column1 datatype1, column2 datatype2); 

2.DROP: The DROP command is used to remove existing database objects, such as tables, views, and indexes. For example, to
drop a table from a database.
ex:                              DROP TABLE table_name;

3.ALTER: The ALTER command is used to modify the structure of an existing database object, such as a table, view, or index. For example, to add a new 
column to an existing table in a database. 
ex:                            ALTER TABLE table_name ADD column_name datatype;

4.TRUNCATE: The TRUNCATE command is used to delete all data from a table without dropping the table
itself. This command is useful when a user wants to remove all records from a table quickly.
ex:                      TRUNCATE command is as follows: TRUNCATE TABLE table_name

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example?

DML stand data manupilation language which is subset of SQL used to manage and manipulate data within database

1.INSERT:it is used to insert new commands into existing table or a new table

ex:  INSERT INTO employees (id, name, age, salary)
     VALUES (1, 'rahul', 30, 50000);
     here a table is created by name  employees and columns as id,name,age,salary and respective values are inserted

2.UPDATE:it is used to update the existing table  

ex:UPDATE employees here the existing table getting updated by update fn
   SET salary = 60000 
                           #here id 1 gets updated
   WHERE id = 1; 
   
3.DELETE: it is used to delete a perticular data in a table.  

ex:DELETE FROM employees
   WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

DQL stands for data query language which is subset of SQL and is used to collect the data from tables or database

syntax: SELECT * file_name.table_name;

here all the items in table are displayed in tabular form since we have used '*' which means 'all'

In [ ]:
Q5. Explain Primary Key and Foreign Key.

Primary Key:In SQL, a primary key is a column or a set of columns that uniquely identifies each row in a table. It is used to enforce 
the integrity of data in a database and to ensure that each record in a table is unique. In SQL, the primary key constraint
is used to enforce the uniqueness of the values in the primary key column or columns. The syntax for creating a primary key 
constraint in SQL is as follows:CREATE TABLE table_name (
                                column1 data_type PRIMARY KEY,
                                column2 data_type, ...
                                );

Foreign Key:In SQL, a foreign key is a column or a set of columns in a table that refers to the primary key of another table. 
It establishes a link between two tables and is used to enforce referential integrity between them. In SQL, the foreign key 
constraint is used to enforce the relationship between tables. The syntax for creating a foreign key constraint in SQL is as 
follows:CREATE TABLE table_name (
         column1 data_type,
         column2 data_type,...
         FOREIGN KEY (column_name) REFERENCES other_table(primary_key_column)
           );

In [ ]:
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="user_name",       #it is the std python code to connect the python  to sql
  password="password"
)
cursor():it is a method creates a cursor object that allows us to execute SQL queries on the database. 
The cursor behaves as a pointer to a specific row within result set.

execute():this method is used to execute an SQL query on the database. It takes a single parameter, 
which is the SQL query to be executed.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In an SQL query, the clauses are executed in the following order:

SELECT: This clause is used to retrieve data from a database. The SELECT clause is executed first 
and the result set is created based on the specified columns, table, and any conditions in the WHERE clause.

FROM: This clause specifies the table from which the data will be retrieved. The table specified in the
FROM clause should be available in a database.

WHERE: This clause is used to filter out a data based on a given condition. The WHERE clause is executed after 
the SELECT and FROM clauses, and it determines which rows will have to be included in a result set.

GROUP BY: This clause is used to group the result set depending on one or more column. The GROUP BY clause is executed 
after a WHERE clause and it determines how should the data needed to be grouped.

HAVING: This clause is used to filter the groups based on a specified condition. The HAVING clause is executed after 
the GROUP BY clause, and it decides which groups will be included in a result set.

ORDER BY: This clause is used to sort the result set based on one or more columns. The ORDER BY clause is executed after 
the GROUP BY and HAVING clauses  and it decides how the data should be sorted.

LIMIT: This clause is used to limit the number of rows created by the query. The LIMIT clause is executed last, after all 
the other clauses, and it determines how many rows will be included in the result set.